<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
      <small><%= link_to "Varun Kumar S", "mailto: varunkumar0930@gmail.com", class: "text-white"%></small>
    </div>
  </footer>